/*roboto-regular - latin*/
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Roboto-Regular.ttf");
}
/*roboto-700 - latin*/
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Roboto-Bold.ttf");
}
:root {
  /* colors */
  --color-white: #ffffff;
  --color-grey: #949494;
  --color-blue-800: #242742;
  --color-blue-700: #36384d;
  --color-red: #ff6155;
  --color-gradient-4: linear-gradient(#ff6a3a, #ff527b);
  /* spacing */
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1300: 6.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--color-blue-700);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.signup {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  min-height: 100vh;
  width: 100vw;
  color: var(--color-blue-800);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0rem;
  /* media breakpoint tablet / 768px */
}
.signup__image {
  width: 100%;
}
.signup__text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  padding: 0 var(--spacing-200);
  margin-block-end: var(--spacing-500);
}
.signup__text li {
  list-style: none;
  position: relative;
  padding-left: 2.25rem;
}
.signup__text li:not(:last-child) {
  margin-block-end: var(--spacing-100);
}
.signup__text li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("./assets/images/icon-success.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.signup__headline {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0rem;
  /* media breakpoint tablet / 768px */
}
@media (min-width: 48em) {
  .signup__headline {
    font-size: 3.5rem;
  }
}
.signup__form {
  padding: 0 var(--spacing-200);
}
.signup__form .input-header {
  display: flex;
  justify-content: space-between;
}
.signup__form label {
  margin-block-end: var(--spacing-100);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0rem;
  /* media breakpoint tablet / 768px */
}
.signup__form .error-message {
  display: none;
  color: var(--color-red);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0rem;
  /* media breakpoint tablet / 768px */
}
.signup__form .error-message--show {
  display: block;
}
.signup__form input {
  padding: var(--spacing-200) var(--spacing-300);
  border: 0.0625rem solid var(--color-grey);
  border-radius: var(--spacing-100);
  outline: transparent;
  width: 100%;
  color: var(--color-blue-800);
}
.signup__form input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0rem;
  /* media breakpoint tablet / 768px */
}
.signup__form input:focus {
  border: 0.0625rem solid var(--color-blue-800);
}
.signup__form input.touched:invalid {
  color: var(--color-red);
  border-color: var(--color-red);
  background-color: rgba(255, 97, 85, 0.1);
}
.signup__form input.touched:invalid::placeholder {
  color: var(--color-red);
}
.signup__form #email {
  margin-block-end: var(--spacing-300);
}
.signup__button {
  margin-top: auto;
}
@media (min-width: 48em) {
  .signup {
    padding: var(--spacing-500);
    border-radius: 2.25rem;
    max-width: 38rem;
    min-height: fit-content;
    gap: var(--spacing-400);
  }
  .signup__text {
    padding: 0;
    margin-block-end: var(--spacing-300);
  }
  .signup__form {
    padding: 0;
  }
  .signup__form #email {
    margin-block-end: var(--spacing-200);
  }
}
@media (min-width: 67.5em) {
  .signup {
    flex-direction: row-reverse;
    align-items: center;
    padding: var(--spacing-300) var(--spacing-400);
    gap: var(--spacing-800);
    max-width: 56.5rem;
  }
  .signup__image {
    width: 25rem;
  }
  .signup__text {
    gap: var(--spacing-400);
    margin-block-end: var(--spacing-400);
  }
  .signup__form #email {
    margin-block-end: var(--spacing-300);
  }
}

.button {
  cursor: pointer;
  background-color: var(--color-blue-800);
  color: var(--color-white);
  padding: var(--spacing-200) var(--spacing-400);
  border: transparent;
  outline: transparent;
  border-radius: var(--spacing-100);
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0rem;
  /* media breakpoint tablet / 768px */
}
.button:hover, .button:focus {
  background: var(--color-gradient-4);
  box-shadow: 0 1rem 2rem 0 rgba(255, 97, 85, 0.5);
}

.success-message {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  color: var(--color-blue-800);
  padding: 9.3125rem var(--spacing-200) 4.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0rem;
  /* media breakpoint tablet / 768px */
}
.success-message__inner-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  max-height: 38.9375rem;
  flex: 1;
  max-width: 20.4375rem;
}
.success-message__image {
  width: var(--spacing-800);
  aspect-ratio: 1/1;
}
.success-message__headline {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0rem;
  /* media breakpoint tablet / 768px */
}
@media (min-width: 48em) {
  .success-message__headline {
    font-size: 3.5rem;
  }
}
.success-message__button {
  margin-top: auto;
}
@media (min-width: 48em) {
  .success-message {
    padding: var(--spacing-800);
    border-radius: 2.25rem;
    max-width: 31.5rem;
    min-height: fit-content;
  }
  .success-message__inner-container {
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
