@use "./fonts.scss";

:root {
  /* colors */
  --color-white: #ffffff;
  --color-grey: #949494;
  --color-blue-800: #242742;
  --color-blue-700: #36384d;
  --color-red: #ff6155;
  --color-gradient-4: linear-gradient(#ff6a3a, #ff527b);

  /* spacing */
  --spacing-100: 0.5rem; // 8px
  --spacing-200: 1rem; // 16px
  --spacing-300: 1.5rem; // 24px
  --spacing-400: 2rem; // 32px
  --spacing-500: 2.5rem; // 40px
  --spacing-600: 3rem; // 48px
  --spacing-800: 4rem; // 64px
  --spacing-900: 4.5rem; // 72px
  --spacing-1300: 6.5rem; // 104px
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--color-blue-700);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.signup {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  min-height: 100vh;
  width: 100vw;
  color: var(--color-blue-800);
  @include fonts.apply-text-preset("2");

  &__image {
    width: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    padding: 0 var(--spacing-200);
    margin-block-end: var(--spacing-500);

    li {
      list-style: none;
      position: relative;
      padding-left: 2.25rem;

      &:not(:last-child) {
        margin-block-end: var(--spacing-100);
      }
      

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 1.25rem;
        height: 1.25rem;
        background-image: url("./assets/images/icon-success.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &__headline {
    @include fonts.apply-text-preset("1");
  }

  &__form {
    padding: 0 var(--spacing-200);

    .input-header {
      display: flex;
      justify-content: space-between;
    }

    label {
      margin-block-end: var(--spacing-100);
      @include fonts.apply-text-preset("3");
    }

    .error-message {
      display: none;
      color: var(--color-red);
      @include fonts.apply-text-preset("3");

      &--show {
        display: block;
      }
    }

    input {
      padding: var(--spacing-200) var(--spacing-300);
      border: 0.0625rem solid var(--color-grey); // 1px
      border-radius: var(--spacing-100);
      outline: transparent;
      width: 100%;
      color: var(--color-blue-800);

      &::placeholder {
        @include fonts.apply-text-preset("2");
      }

      &:focus {
        border: 0.0625rem solid var(--color-blue-800); // 1px
      }

      &.touched:invalid {
        color: var(--color-red);
        border-color: var(--color-red);
        background-color: rgba($color: #ff6155, $alpha: 0.1);

        &::placeholder {
          color: var(--color-red);
        }
      }
    }

    #email {
      margin-block-end: var(--spacing-300);
    }
  }

  &__button {
    margin-top: auto;
  }

  @media(min-width: 48em) {
    padding: var(--spacing-500);
    border-radius: 2.25rem;
    max-width: 38rem; // 608px
    min-height: fit-content;
    gap: var(--spacing-400);

    &__text {
      padding: 0;
      margin-block-end: var(--spacing-300);
    }

    &__form {
      padding: 0;

      #email {
        margin-block-end: var(--spacing-200);
      }
    }
  }

  @media (min-width: 67.5em) {
    flex-direction: row-reverse;
    align-items: center;
    padding: var(--spacing-300) var(--spacing-400);
    gap: var(--spacing-800);
    max-width:  56.5rem; // 904px

    &__image {
      width: 25rem; // 400px
    }

    &__text {
      gap: var(--spacing-400);
      margin-block-end: var(--spacing-400);
    }

    &__form {
      #email {
        margin-block-end: var(--spacing-300);
      }
    }
  }
}

.button {
  cursor: pointer;
  background-color: var(--color-blue-800);
  color: var(--color-white);
  padding: var(--spacing-200) var(--spacing-400);
  border: transparent;
  outline: transparent;
  border-radius: var(--spacing-100);
  width: 100%;
  @include fonts.apply-text-preset("2--bold");

  &:hover,
  &:focus {
    background: var(--color-gradient-4);
    box-shadow: 0 1rem 2rem 0 rgba($color: #ff6155, $alpha: 0.5);
  }
}

.success-message {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  color: var(--color-blue-800);
  padding: 9.3125rem var(--spacing-200) 4.75rem; // 149px 70px
  @include fonts.apply-text-preset("2");

  &__inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    max-height: 38.9375rem; // 623px
    flex: 1;
    max-width: 20.4375rem; // 327px
  }

  &__image {
    width: var(--spacing-800);
    aspect-ratio: 1 / 1;
  }

  &__headline {
    @include fonts.apply-text-preset("1");
  }

  &__button {
    margin-top: auto;
  }

  @media(min-width: 48em) {
    padding: var(--spacing-800);
    border-radius: 2.25rem;
    max-width: 31.5rem; // 504px
    min-height: fit-content;  

    &__inner-container {
      max-width: 100%;
    }
  }
}
